# LaTeX files
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

# LaTeX biber
*.bcf

# own ignores
*.run.xml
*-blx.bib

# PSE stuff
/pse/*.[ch]
/pse/sim

# Random PDF's
material/
